<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
</head>
<body>
{% extends 'portfolio/base.html' %}
{% block content %}

    {% load static %}

    <img class="rounded mx-auto d-block" height="500" src="{% static 'portfolio/photo_2022-04-02 00.25.41.jpeg' %}"
         alt="image">
    <h1 style="text-align: center">Isamyrat Gurbanov</h1>

    <h5 style="text-align: left">Portfolio</h5>
    <hr/>


    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for project in projects %}
            <div class="col">
                <div class="card">
                    <a href="{{ project.url }}" target="_blank"> <img src="{{ project.image.url }}" class="card-img-top"
                                                                      width="260" height="260"
                                                                      alt="The image of project" ></a>
                        <div class="card-body">
                            <h5 class="card-title">{{ project.title }}</h5>
                            <p class="card-text">{{ project.description }}</p>
                        </div>

                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
</body>
</html>